.news-heading {
	text-align: center;
	padding-bottom: 20px;
}
.news-image {
	margin: auto;
	display: block;
}
.news-image-spaced {
	padding-top: 20px;
}
.news-more-button {
	text-align: center;
	padding-top: 20px;
}
.twitter-box {
	padding-top: 20px;
}