<div class="outer">
  <div role="main" class="hero inner">
    <div class="container">
      <div class="row row1">
        <div class="span6 col1">
          <div class="module-content">
            <h1 class="hero-text-heading hero-text">Building refuge for federal climate & environmental data</h1>
            <p class="hero-text-description hero-text"><a href="http://ppehlab.org">DataRefuge</a> helps to build refuge for federal data and supports climate and environmental research and advocacy. We are committed to fact-based arguments. DataRefuge preserves the facts we need at a time of ongoing climate change. 
                <br />&nbsp;<br />
                This site is one part of the project. The vast majority of the government information gathered through this project is available from the Internet Archive through the <a href="http://digital2.library.unt.edu/nomination/eth2016/">End of Term project</a>. This data catalog is a place to store data that is difficult or impossible to harvest through web crawlers. Beginning to add difficult data to this websites is one of the tasks of the DataRescuePhilly event on January 13th and 14th. </p>
          </div>
        </div>
        <div class="span6 col1">
          <img src="/base/images/datarefuge_icon_big.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main" class="main-search">
  <div class="container">
    <div class="row row2">
	  <div class="span8 col1">
  	    <div class="row row2">
          {% block search %}
	        {% snippet 'home/snippets/search.html' %}
	      {% endblock %}	
        </div>
		<hr />
		<div class="row row2">
		  <div class="span8 col1">
			<h1 class="news-heading">DataRefuge in the News</h1>
		  </div>
		</div>
		<div class="row row2">		
		  <div class="span4 col1">	  
			<a href="https://www.washingtonpost.com/news/energy-environment/wp/2016/12/13/scientists-are-frantically-copying-u-s-climate-data-fearing-it-might-vanish-under-trump/?postshare=3751481645413207&tid=ss_tw&utm_term=.7ec82de85a61" class="browse-topic">
			  <img class="news-image" src="/base/images/washington_post.png">
			</a>
		  </div>
		  <div class="span4 col1">	  
			<a href="http://www.bbc.com/news/world-us-canada-38324045" class="browse-topic">
			  <img class="news-image" src="/base/images/bbc.png">
			</a>
		  </div>		  
		</div>
		<div class="row row2">
		  <div class="span4 col1">	  
			<a href="https://www.democracynow.org/2016/12/29/scientists_scramble_to_protect_decades_of" class="browse-topic">
			  <img class="news-image" src="/base/images/democracy_now.png">
			</a>
		  </div>
		  <div class="span4 col1">	  		
			<a href="http://www.msnbc.com/rachel-maddow-show/scientists-scramble-secure-climate-data-fearing-trump-purge" class="browse-topic">
			  <img class="news-image news-image-spaced" src="/base/images/msnbc.png">
			</a>
		  </div>
		</div>
		<div class="row row2">
		  <div class="span4 col1">	
			<a href="http://www.philly.com/philly/health/Fearing-Trump-Penn-scholars-move-to-preserve-climate-change-data.html" class="browse-topic">
			  <img class="news-image news-image-spaced" src="/base/images/phila_inquirer.png">
			</a>
		  </div>
		  <div class="span4 col1">	  
			<a href="http://www.npr.org/2016/12/14/505592206/scientists-race-to-preserve-climate-change-data-before-trump-takes-office" class="browse-topic">
			  <img class="news-image" src="/base/images/npr.png">
			</a>
		  </div>	  		  
		</div>	
		<div class="row row2">
		  <div class="span8 col1">
		    <div class="news-more-button">
              <a class="btn btn-primary" href="http://www.ppehlab.org/datarefugenews">Read More...</a>
			</div>
		  </div>
		</div>		
      </div>
      <div class="span4 col2 twitter-box">
        <div class="module-content box">
          <h2 class="secondary-heading">Tweets</h2>
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/datarefuge" data-widget-id="819847841464156162">#datarefuge Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>		  
        </div>
      </div>	  
	</div>
  </div>  
</div>
